.floating-icon {
  position: absolute; 
  animation: float 8s ease-in-out infinite;
  z-index: 1; /* ensure it's above background */
  pointer-events: none; /* so it doesn’t block content */
}


@keyframes float {
  0% {
    transform: translateY(0px) scale(1);
  }
  50% {
    transform: translateY(-30px) scale(1.08);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}
